{% extends "index.html" %}
{% block body %}
<h1>Welcome to Icert</h1>

  <form action="" method="post" name="log">

      <a href="/cert_login">Login with Certificate</a>

      <div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
				 {% if error %}
    				<p class="error"><strong>Error:</strong> {{ error }}
  				{% endif %}
			<div class="login-form">
				<div class="control-group">
				<p> {{form.username(placeholder="Your username")}}</p>
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

        <div class="login-form">
  				<div class="control-group">
  				<p> {{form.username(placeholder="Your email")}}</p>
  				<label class="login-field-icon fui-user" for="login-email"></label>
  				</div>

				<div class="control-group">
				<p> {{form.email(placeholder="email")}}</p>
				<label class="login-field-icon fui-user" for="login-email"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>


{% endblock %}<
